<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Odoo Mexico Localization for Stock/Landing</h2>
        <h3 class="oe_slogan">This module extends the functionality of Mexican localization to support customs numbers related with landed costs when you generate the electronic invoice</h3>
        <div class="oe_span12">
            <div class="oe_demo oe_picture oe_screenshot">
                <img src="InformationCustom.png">
            </div>
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">To use this module, you need to:</h2>
        <h3 class="oe_slogan">Purchase Order</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="purchase_order_new.png">
        </div>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Generate a new purchase order for a product from abroad. Landed costs are only possible for products configured with 'automated' valuation with 'FIFO' costing method. The costing method is configured in the product category.
        </div>
   </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Purchase Picking</h3>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Receive the product of the purchase order
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="picking_done_purchase.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Landed Cost</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="landed_cost_picking.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Go to Inventory -> Inventory control -> Landed Cost.
            Create a new landed cost indicating the picking of the purchase order and the number of the customs information (pedimento). Then calculate and validate the cost of landing
            </p>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Landed Cost Type</h3>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Start by creating specific products to indicate your various Landed Costs, such as freight, insurance or custom duties. Go to Inventory -> Configuration -> Landed Cost types.
            Landed costs are only possible for products configured in real time valuation with real price costing method. The costing method is configured on the product category.
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="product_landed_cost.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Link landed costs to a transfer</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="compute_landed_cost.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Click the Compute button to see how the landed costs will be split across the picking lines.
            To confirm the landed costs attribution, click on the Validate button.
            </p>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Sale Order</h3>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Create a sale order for the product purchased from abroad
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="sale_order_new.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Sale Picking</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="picking_done_sale.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            Delivery the product related  to the sale order
            </p>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Invoice</h3>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Create and validate a new invoice associated with the sale order
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="validate_invoice_customs.png">
        </div>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Customs Information</h3>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="invoice_custom_pedimento.png">
        </div>
        <div class="oe_span6">
            <p class="oe_mt32 text-justify">
            The customs information is found in the lines of the invoice associated with each product.
            </p>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h3 class="oe_slogan">Electronic Invoice</h3>
        <div class="oe_span6">
            <p class='oe_mt32 text-justify'>
            Check the electronic invoice associated with the product where the node of the customs information is displayed
            </p>
        </div>
        <div class="oe_span6">
            <img class="oe_picture oe_screenshot" src="invoice_custom_xml.png">
        </div>
    </div>
</section>
