.o_event_barcode_main{
    .o_event_barcode_mobile_container{
        position:  relative;
        display: inline-block;
        .o_event_barcode_mobile{
            width: 100%;
            bottom: 0px;
            position: absolute;
            .o_barcode_mobile_camera{
                margin: 5px;
                font-size: 2.2em;
            }
            div{
                font-size: 12px;
            }
        }
    }
}
