.o_datepickers_searchview {
    display: flex;
    align-items: center;

    // Position relative is necessary to display the datepicker correctly when toggle
    // Requirement from the library.
    position: relative;
    > .o_datepicker {
        flex: 1 0 90px;
        margin: 0 10px;
        position: relative;

        &:first-child {
            margin-left: 0;
        }
    }

    > select {
        margin: 0 10px;
    }
}

.o_account_contract_dashboard {
    svg {
        padding-top: 2px;
        float: left;
    }

    div.box {
        @include clearfix;
        padding: 10px;
        color: $o-main-text-color;
        background-color: $o-view-background-color;
        -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.25);
        background-size: cover;
        margin-top: $o-horizontal-padding;
        margin-bottom: $o-horizontal-padding;
        position: relative;

        h1, h2, h3, h4 {
            margin-top: 5px;
            font-weight: 800;
        }
    }

    .o_stats_section {
        display: flex;
        flex-flow: row wrap;

        > div {
            flex: 1 1 350px;
        }
    }

    .on_stat_box, .on_forecast_box {
        display: inline-block;
        text-decoration: none;
        width: 100%;
    }

    div.o_stat_box, div.o_forecast_box {
        height: 140px;
        margin: 5px;

        .o_stat_box_header {
            display: flex;
            justify-content: space-between;
            min-height: 40px;
        }

        h2.o_stat_box_card_amount {
            color: #2693d5;
        }

        .o_trend {
            z-index: 1;
            text-align: center;

            h4 {
                margin-bottom: 0;
            }

            .o_legend {
                font-size: 10px;
            }
        }

        .o_demo_label {
            @include o-position-absolute($bottom: 0, $right: 0);
        }

        .o_graph {
            @include o-position-absolute($top: 0, $left: 0);
            opacity: 0.3;
            padding: 20px 0px 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }

        .nvd3 .nv-groups path.nv-area, div.forecast-box .nvd3 .nv-groups path.nv-area {
            fill-opacity: 0.2;
        }

        .nvd3 .nv-groups path.nv-line, div.forecast-box .nvd3 .nv-groups path.nv-line {
            stroke-opacity: 0.8;
            stroke-width: 4px;
        }

        &:hover {
            background-color: $o-brand-lightsecondary;
        }
    }

    .o_graph_detailed {
        .nvd3 .nv-groups path.nv-line {
            stroke-width: 3px;
        }

        .nvd3.nv-scatter .nv-groups .nv-point,
        .nvd3 .nv-groups .nv-point {
            stroke-width: 5px;
            fill-opacity: .95 !important;
            stroke-opacity: .95 !important;
        }
    }

    .o_metric_current {
        font-size: 4.5rem;
        font-weight: 700;
        line-height: 1;
    }

    .o_forecast_options {
        border: 2px solid #c3cacd;
        border-radius: 5px;
        padding: 1em;

        td {
            font-weight: 800;
            padding-bottom: 10px;
            padding-top: 1em;
            border: 0;

            span.input-group-addon {
                background-color: inherit;
            }
        }
    }

    .o_loader {
        text-align: center;
        width: 100%;
    }

    .o_green {
        color: #26b548;
    }

    .o_blue {
        color: #2693d5;
    }

    .o_red {
        color: #df2e28;
    }

    .o_yellow {
        color: #fed049;
    }

    .o_black {
        color: #000000;
    }

    .o_small_caps {
        font-variant: small-caps;
    }

    .o_welcome_message {
        margin: 5px;

        display: flex;
        justify-content: center;

        .o_welcome_image {
            padding: 20px;
        }
        .o_welcome_content > a {
            color: white;
            display: inline-block;
        }
    }
}
