// =========================
// Mass Mailing "Theme Tech"
// =========================

$o-mm-tech-color-alpha: #333;
$o-mm-tech-color-beta: white;
$o-mm-tech-color-gamma: #59cdcd;
$o-mm-tech-color-delta: #bdbdbd;
$o-mm-tech-color-epsilon: black;
$o-mm-tech-color-zeta: #a17e92;

.o_tech_theme {
    // ===== Colors =====
    .bg-beta {
        background-color: $o-mm-tech-color-gamma;

        .btn.btn-primary {
            color: $o-mm-tech-color-gamma;
            background-color: $o-mm-tech-color-beta;
        }
    }
    .text-beta {
        color: $o-mm-tech-color-gamma;
    }
    .bg-delta {
        background-color: $o-mm-tech-color-zeta;
    }

    // ===== Layout =====
    &.o_layout {
        background-color: $o-mm-tech-color-alpha;

        .o_mail_wrapper_td {
            background-color: transparent;
            color: $o-mm-tech-color-delta;
            border: none;
        }
    }

    // ===== Snippets (general) =====
    .o_mail_snippet_general {
        .btn.btn-primary {
            color: $o-mm-tech-color-beta;
            background-color: $o-mm-tech-color-gamma;
        }

        .o_mail_full_width_padding {
            padding-left: 20px;
            padding-right: 20px;
        }

        a, .btn.btn-link {
            font-weight: normal;
            color: $o-mm-tech-color-gamma;
        }

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            color: darken($o-mm-tech-color-beta, 10%);
        }

        .bg-beta, .bg-delta {
            h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
                color: $o-mm-tech-color-beta;
            }
        }

        .bg-beta {
            .btn.btn-primary {
                color: $o-mm-tech-color-gamma;
                background-color: $o-mm-tech-color-beta;
            }
        }
    }

    // ===== Snippets (specific) =====
    .o_mail_block_header_social, .o_mail_block_header_text_social, .o_mail_block_header_logo {
        .o_mail_snippet_general {
            width: auto;
            margin-top: 10px;
            margin-bottom: 25px;
            padding-left: 20px;
            padding-right: 20px;
            width: 560px;
            box-sizing: content-box;

            > table {
                max-width: 560px;
                border-bottom: 1px solid darken($o-mm-tech-color-beta, 60%);
            }
        }

        .o_mail_h_padding.o_mail_v_padding {
            padding: 10px 0 5px;
        }

        .o_mail_header_social {
            margin-right: 0px;
            a {
                color: darken($o-mm-tech-color-beta, 40%);
            }
        }
    }

    .o_mail_block_footer_separator {
        .separator {
            height: 1px;
            background-color: darken($o-mm-tech-color-beta, 60%);
        }
    }

    .o_mail_block_event {
        margin-left: 20px;
        margin-right: 20px;

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            color: $o-mm-tech-color-alpha;
        }
    }

    .o_mail_block_discount2 {
        .o_code {
            color: $o-mm-tech-color-alpha;
        }
    }

    .o_mail_block_footer_separator {
        margin-left: 0;
        margin-right: 0;
    }

    .o_mail_block_steps .o_mail_snippet_general{
        background-color: transparent;

        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            color: $o-mm-tech-color-alpha;
        }

        .o_mail_full_width_padding > tbody > tr  {
            background-color: $o-mm-tech-color-beta;
            color: $o-mm-tech-color-alpha;
        }
    }

    .o_mail_block_footer_social {
        .o_mail_snippet_general {
            background: rgba(0,0,0,0);
            background: transparent;
        }

        .o_mail_table_styles {
            border-top: none;
        }

        .o_mail_footer_social {
            a {
                color: darken($o-mm-tech-color-beta, 40%);
            }
        }

        .o_mail_footer_links a {
            color: darken($o-mm-tech-color-beta, 40%);
        }

        .o_mail_footer_copy {
            font-weight: bold;
            font-size: 9px;
            color: darken($o-mm-tech-color-beta, 30%);
        }

        &.o_mail_footer_social_left {
            .o_mail_footer_description {
                padding-left: 0;
            }
            .o_mail_footer_social {
                padding-right: 0;
            }
        }
    }
}
