%o-web-studio-app-creator-background {
    background-image: linear-gradient(90deg, #565d78, #65545c);
}

// Home menu in studio mode
.o_web_client.o_in_studio .o_home_menu {
    @extend %o-web-studio-app-creator-background;

    .o_home_menu_footer,
    .o_menu_search,
    .database_expiration_panel {
        visibility: hidden;
    }
    .o_app {
        position: relative;
        &:not(.o_web_studio_new_app) {
            opacity: 0.5;
            .o_app_icon {
                transition-property: none;
            }
            &:hover, &:focus {
                opacity: 0.9;
                background-color: transparent;
            }
        }
        &.o_web_studio_new_app {
            border-color: rgba(white, 0.1);
            background-color: rgba(white, 0.05);
            .o_app_icon {
                box-shadow: none;
            }
            &:hover {
                border-color: rgba(white, 0.6);
            }
        }
        .o_web_studio_edit_icon {
            visibility: hidden;
            @include o-position-absolute($top: 10px, $right: 25px);
            color: white;
            background-color: $o-brand-primary;
        }

        &:hover {
            .o_web_studio_edit_icon {
                visibility: visible;
                opacity: 0.6;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

// App creator - style
.o_web_studio_app_creator {
    @extend %o-web-studio-app-creator-background;

    .o_web_studio_app_creator_box {
        color: $o-web-studio-bg-dark;
        box-shadow: 0 16px 13px -8px rgba($o-web-studio-bg-dark, 0.5);

        .o_web_studio_app_creator_left {
            background-color: white;
            h2 {
                margin-top: 70px;
                font-weight: 200;
            }
            h1 {
                font-size: 3.5em;
                letter-spacing: -1px;
                margin-bottom: 0.3em;
            }
            h5 {
                font-size: 13px;
                position: absolute;
            }

            .o_web_studio_app_creator_name .o_web_studio_app_creator_menu {
                margin-top: 50px;
            }

            .o_web_studio_app_creator_model_choice {
                margin-top: 25px;
                @include o-web-studio-checkbox($body-color, $o-web-studio-bg-medium, $o-web-studio-bg-dark, white, gray('600'));
            }

            .o_web_studio_app_creator_model {
                display: none;

                .o_external_button {
                    padding-right: 0;
                    color: $body-color;
                    &:hover, &:focus, &:active {
                        background-color: transparent;
                        color: $o-web-studio-bg-dark;
                    }
                }
            }
            .o_web_studio_app_creator_field_warning {
                > label {
                    color: $o-web-studio-color-danger;
                }
            }
        }
        .o_web_studio_app_creator_right {
            background-color: $o-web-studio-bg-dark;

            .o_web_studio_welcome_image {
                width: 183px;
                height: 183px;
                border-radius: 4px;
                box-shadow: 0 7px 16px -5px #000;
            }
        }

        .o_web_studio_app_creator_next, .o_web_studio_app_creator_back {
            opacity: 0.5;
            text-transform: uppercase;
            background-color: white;
            color: $o-web-studio-text-inactive;
            border: 1px solid $o-web-studio-text-inactive;
            padding: 7px 15px;
            font-size: 11px;
            border-radius: 2px;
            font-weight: 500;

            > span {
                transition: opacity 0.35s ease 0s;
            }
            &:hover, &:focus {
                color: $o-web-studio-text-inactive;
                border-color: $o-web-studio-text-inactive;
            }

        }
        .o_web_studio_app_creator_next {
            cursor: no-drop;
            &.is_ready {
                opacity: 1;
                cursor: pointer;
                background-color: $o-brand-primary;
                border-color: darken($o-brand-primary, 3%);
                color: white;
                transition: all 0.3s ease 0s;
                transition-property: padding background;

                > span {
                    opacity: 1;
                    padding-right: 15px;
                    transition: opacity 0.1s ease 0s;
                }

                &:hover, &:focus {
                    background-color: lighten($o-brand-primary, 2%);
                    border-color: $o-brand-primary;
                    color: white;
                }
            }
        }
        .o_web_studio_app_creator_back {
            padding: 7px 15px 6px;
        }

        .o_field_widget.o_field_many2one {
            width: 100%;
        }
    }
}

// App creator - layout
.o_web_studio_app_creator {
    min-height: 100%;
    padding-top: 100px;
    padding-bottom: 100px;

    .o_web_studio_app_creator_box {
        position: relative;
        margin: auto;
        height: 350px;
        width: 700px;

        .o_web_studio_app_creator_left, .o_web_studio_app_creator_right {
            height: 100%;
            width: 50%;
            float: left;
            padding: 16px 32px;
            transition: width 0.3s ease 0s;
        }
        .o_web_studio_app_creator_left {
            border-radius: 3px 0 0 3px;
            display: flex;
            flex-flow: column nowrap;

            .o_web_studio_app_creator_left_content {
                flex: 1 1 100%;
                padding-top: 20px;

                .o_field_many2one {
                    width: 100%;
                }
            }
            .o_web_studio_app_creator_buttons {
                flex: 0 0 auto;

                .o_web_studio_app_creator_next {
                    float: right;
                }
            }
        }
        .o_web_studio_app_creator_right {
            border-radius: 0 3px 3px 0;
            display: flex;
            justify-content: center;
            align-items: center;

            .o_web_studio_app_creator_right {
                height: 200px;
                width: 200px;
            }
        }
    }
}
