.o_web_client.o_in_studio .o_main_navbar {
    background-color: $o-web-studio-bg-dark;
    border-color: $o-web-studio-bg-dark;

    > ul > li > a {
        color: lightgrey;
        height: $o-web-studio-menu-height - 1;
    }

    .o_web_studio_navbar_item {
        background-color: $o-web-studio-bg-medium;
    }

    .o_web_edit_menu {
        color: $o-web-studio-text-inactive;
        display: inline;
        margin-left: 15px;
        padding: 2px 10px 2px 10px;
        font-size: 10px;

        &:hover {
            background-color: inherit;
            color: white;
        }
    }
    .o_web_studio_notes, .o_web_studio_leave {
        height: 100%;
        display: table;
        float: right;
        margin: 0 20px;

        > a {
            color: $o-web-studio-bg-light;
            display: table-cell;
            vertical-align: middle;
        }
    }
    .o_web_studio_leave {
        margin: 0;

        > a {
            font-weight: bold;
        }
    }
}
