.o_web_studio_sidebar {
    display: flex;
    flex-flow: column nowrap;
    color: white;
    background-color: $o-web-studio-bg-medium;
    border-right: 3px solid $o-web-studio-bg-dark;

    .o_web_studio_sidebar_header {
        display: flex;
        flex: 0 0 auto;
        margin-bottom: $o-web-studio-sidebar-margin;
        background-color: $o-web-studio-bg-dark;

        > div {
            flex: 1 0 auto;
            text-align: center;
            padding: 14px 0;
            color: $o-web-studio-bg-light;
            background-color: $o-web-studio-bg-dark;
            box-shadow: inset 1px 0 0 $o-web-studio-bg-medium;
            cursor: pointer;

            &.inactive {
                color: grey;
                cursor: not-allowed;
            }
            &.active, &:first-child:last-child {
                cursor: default;
                background-color: $o-web-studio-bg-medium;
            }
            &:not(.inactive):not(.active):hover {
                color: white;
                background-color: rgba($o-web-studio-bg-medium, 0.5);
            }

            > i {
                margin-right: 4px;
            }
        }
    }

    .o_web_studio_sidebar_content {
        padding: 0 $o-web-studio-sidebar-margin $o-web-studio-sidebar-margin;

        > :first-child {
            margin-top: 0;
        }

        > h3 {
            color: white;
        }

        > hr {
            border-color: $o-web-studio-bg-dark;
            border-width: 1px;
        }

        > div,
        > div > .card > .card-collapse > .card-body > div
         {
            margin-top: 12px;

            // Generic style for all field types
            label {
                font-size: 12px;
                font-weight: normal;
                margin: 4px 0 3px 2px;
                color: $o-web-studio-text-inactive;
            }
            .o_web_studio_toption_option.o_web_studio_required_option {
                > label {
                    color: theme-color('danger');
                }
            }

            input, select, textarea, div.input-group-addon {
                color: $o-web-studio-text-inactive;
                border: 1px solid transparent;
                background-color: $o-web-studio-bg-dark;
                padding: 4px 9px;
                transition: all 0.3s ease 0s;
                transition-property: background, border;
                &:focus {
                    border-color: $o-web-studio-color-info;
                    box-shadow: 0 0 1px 0 $o-web-studio-color-info;
                    color: white;
                }
                > option {
                    background-color: white;
                }
            }

            .input-group > input {
                min-width: 75px;
            }

            .o_web_studio_attrs {
                font-size: 11px;
                float: right;
            }

            > button {
                @include o-web-studio-btn;
            }

            // Specific style for each field type
            &.o_web_studio_sidebar_iscode {
                input, textarea {
                    font-family: $o-web-studio-font-family-monospace;
                    font-size: 11px;
                }
                textarea {
                    white-space: nowrap;
                    overflow-x: scroll;
                    resize: vertical;
                }
            }

            &.o_web_studio_sidebar_checkbox {
                @include o-web-studio-checkbox;
                & + .o_web_studio_sidebar_checkbox {
                    margin-top: 2px;
                }
            }

            &.o_web_studio_sidebar_select {
                @include o-web-studio-select;
            }

            &.o_web_studio_sidebar_tags {
                .o_field_widget {
                    display: flex;
                    flex-flow: row wrap;
                    width: 100%;
                }
                .o_field_many2one {
                    flex: 0 0 100%;
                    > .o_input_dropdown {
                        > .o_dropdown_button {
                            right: 18px;
                            top: -2px;
                            font-size: 10px;
                            font-family: 'FontAwesome';
                            color: $o-web-studio-text-inactive;
                            &:after {
                                border: none;
                                content: "\f078"
                            }
                        }
                        &:hover .o_dropdown_button {
                            color: $o-web-studio-text-light;
                        }
                    }
                    > .o_external_button {
                        padding-right: 0;
                        background-color: transparent;
                        &:hover, &:focus, &:active {
                            color: $o-web-studio-text-light;
                        }
                    }
                }
                .badge {
                    display: flex;
                    align-items: baseline;
                    max-width: $o-web-studio-sidebar-width - 2*$o-web-studio-sidebar-margin;
                    margin: 5px 5px 5px 0px;
                    cursor: default;
                    padding: 3px 5px;
                    border-radius: 3px;
                    .o_badge_text {
                        margin-right: 5px;
                        @include o-text-overflow;
                        font-weight: normal;
                    }
                    .o_delete:hover {
                        cursor: pointer;
                        color: $o-web-studio-color-danger;
                    }
                    &.o_tag_color_10 {
                        background-color: $o-web-studio-color-info;
                    }
                    & + .badge {
                        margin-top: 1px
                    }
                }
            }
        }
        .o_web_studio_field_type_container {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
        .o_web_studio_component {
            @include o-text-overflow;
            @include size(49%, 32px);
            position: relative;
            margin-bottom: 5px;
            padding: 3px 5px 0 0;
            max-width: 130px;
            border-radius: 2px;
            background-color: $o-web-studio-bg-light;
            box-shadow: 0 1px 1px black;
            color: $o-web-studio-bg-dark;
            font: bold 11px/2.4 $font-family-base;
            cursor: pointer;
            &:hover {
                background-color: white;
                &:before {
                    background: $o-web-studio-bg-light;
                }
            }
            &.o_web_studio_debug:not(.ui-draggable-helper) {
                height: 40px;
                line-height: 1.9;
            }
            .o_web_studio_component_description {
                @include o-text-overflow(block);
                padding: 2px;
                background: white;
                font: bold 10px/1 $o-web-studio-font-family-monospace;
            }
            &:before {
                @include size(33px, 150%);
                display: block;
                float: left;
                margin: -3px 5px 0 0;
                border-right: 1px solid lighten($o-web-studio-bg-dark, 50%);
                background-color: darken($o-web-studio-bg-light, 5%);
                content: "";
            }
            &:after {
                @include o-position-absolute(6px, auto, auto , 7px);
            }
        }
        .o_web_studio_sidebar_toolbox {
            flex: 1 0 100%;

            > button.btn {
                flex: 1 1 auto;
            }
        }
        .o_web_studio_remove_warning_groups {
            color: orange;
        }
        .o_field_selector_chain_part {
            background: none;
        }
    }
}
