.o_web_studio_client_action {
    .o_web_studio_editor_manager {
        display: flex;
        height: 100%;

        .o_web_studio_view_renderer {
            flex: 1 1 auto;
            overflow: auto;
            min-width: 0;

            .o_web_studio_no_preview {
                padding: 20px;
                color: $o-web-studio-bg-light;
                font-size: x-large;
            }
            .o_web_studio_show_invisible {
                opacity: 1;
                outline: 1px solid $o-web-studio-bg-lighter;
                background: repeating-linear-gradient(
                    45deg,
                    white,
                    white 5px,
                    $o-web-studio-bg-lighter 5px,
                    $o-web-studio-bg-lighter 10px
                );
                background-attachment: fixed;
            }
            .o_notebook li.o_web_studio_show_invisible {
                outline: none;
                border: 1px solid $o-web-studio-bg-lighter;
                border-bottom-width: 0;
            }
            .o_web_studio_widget_empty {
                background-color: $o-web-studio-bg-lighter;
                color: $o-web-studio-text-inactive;
            }
            .o_web_studio_list_view_editor, > div.table-responsive, .o_kanban_view {
                padding: 12px;
            }
        }

        .o_web_studio_sidebar {
            flex: 0 0 $o-web-studio-sidebar-width;
            overflow: auto;
        }
        .o_ace_view_editor {
            flex: 0 0 auto;
        }

        // drag & drop
        .ui-draggable-handle, .ui-draggable-handle label {
            cursor: move;
        }
        .ui-draggable-helper {
            background-color: white;
            box-shadow: none;
            border: 1px solid black;
            z-index: $zindex-modal;
            .o_web_studio_component_description {
                display: none;
            }
            &.ui-draggable-dragging {
                transform: rotate(-5deg);
                box-shadow: 0 5px 25px -10px black;
                transition: transform 0.6s, box-shadow 0.3s;
            }
            &.ui-draggable-helper-ready {
                opacity: 1!important;
                line-height: 2;
                border: 2px solid $o-brand-primary;
            }
        }
    }
}
