.o_account_reports_summary_edit {
    display: none !important;
}
.caret {
    display: none !important;
}
.o_account_reports_body_print {
    background-color: white !important;
    color: black !important;
    font-size: 12px !important;
    .o_account_reports_header {
        padding: 10px;
        background-color: #eee;
    }
    .o_account_reports_page {
        color: black !important;
    }
    .o_account_reports_table {
        font-size: 12px !important;
        white-space: nowrap !important;
        > tbody > tr {
            /* fix thead overlapping http://github.com/wkhtmltopdf/wkhtmltopdf/issues/1524 */
            page-break-inside: avoid;
        }
    }
    .o_account_reports_level0, .o_account_reports_level1, .o_account_reports_level2, .o_account_reports_domain_total, .total {
        .text-muted {
            color: black !important;
        }
    }
    .o_foldable_total {
        color: black !important;
    }
}
a {
    color: inherit !important;
}
.print_only {
    display: block !important;
    &.row {
        display: flex !important;
    }
}
[name="summary"] {
    display: none;
}
.no_print {
    display: none !important;
}
.whitespace_print {
    white-space: initial !important;
}
.top-vertical-align {
    vertical-align: top;
}
