.o_foldable_menu {
    &.o_closed_menu {
        display: none;
    }
    .o_open_menu {
        display: block;
    }
}
@mixin o-account-reports-i-fa-toggle {
    i.fa {
        visibility: hidden;
    }
    &:hover i.fa {
        visibility: visible;
    }
}

.o_form_view {
    .o_account_reports_page {
        .o_input {
            width: 100%;
        }
    }
}

.o_account_reports_page {
    background-color: $o-view-background-color;
    color: $o-main-text-color;

    padding-bottom: 125px;
    @include o-webclient-padding($top: $o-sheet-vpadding, $bottom: $o-sheet-vpadding);
    .o_account_reports_level0 {
        border-width: 3px;
        font-weight: bold;
        // border-top-style: $border-top-style;
        border-bottom-style: double;
    }
    .o_account_reports_table {
        white-space: nowrap;
        margin-bottom: 128px;
        tbody tr:not(.o_account_reports_level0):hover {
            background-color: #f0f0f0;
        }
    }
    &.o_account_reports_followup {
        padding-top: 0px;
    }

    .o_account_followup_blocked {
        background-color: LightGray;
    }
    a {
        cursor: pointer;
    }
    .o_reports_date_to {
        margin-left: 20px;
    }
    .o_account_report_column_header {
        padding-left: 15px;
    }
    .o_account_report_line {
        white-space: nowrap;
    }
    .o_account_report_summary {
        padding-left: 5px;
    }
    .o_account_report_summary > span {
        white-space: pre-wrap;
    }
    .o_account_reports_summary_edit {
        padding-bottom: 40px;
        padding-top: 15px;
    }
    .js_account_report_foldable {
        cursor: pointer;
    }
    .color-red {
        color: red !important;
    }
    .color-green {
        color: green !important;
    }
    .color-transparent {
        opacity: 0 !important;
    }
    .trust-partner {
        font-size: 0.8em;
        margin-left: 5px;
    }
    .print_only {
        display: none;
    }
    .o_account_reports_table {

        width: 100%;

        .number {
            text-align: right;
            width: 6%;
        }
        .date {
            text-align: center;
        }
        .o_account_reports_header_hierarchy {
            th {
                border-bottom: none;
            }
            th:not(:first-child) {
                border: 1px solid #e6e6e6;
                text-align: center;
                border-collapse: separate;
                padding-right: 2px;
                padding-left: 2px;
            }
        }
    }
    .folded {
        .o_journal_entries {
            display: none;
        }
    }
    p.o_account_reports_contact_info {
        min-height: 30px;
    }
    .o_input {
        width: 70%;
    }
    .o_account_reports_edit_summary_pencil {
        margin-left: -15px;
        position: absolute;
    }
    table > tbody > tr > td ~ td > span {
        margin-left: 10px;
    }
    .o_account_reports_summary {
        margin-bottom: 20px;
        @include o-account-reports-i-fa-toggle;
    }
    .o_account_reports_unfolded td + td span {
        visibility: hidden;
    }
    div.o_account_reports_saved_summary {
        padding-left: 5px;
    }
    div.o_account_reports_summary, .o_account_reports_web_action, .o_change_trust,
    span.o_account_reports_web_action, div.o_account_reports_saved_summary span,
    td.o_account_reports_unfoldable, td.o_account_reports_foldable, span.partner_id, span.move_line_id, input[type=checkbox] {
        cursor: pointer;
    }
    p.footnote > .text {
        white-space: pre-wrap;
    }
    p.footnote > .o_account_reports_footnote_icons, p.o_account_reports_footnote_edit > .o_account_reports_footnote_icons {
        visibility: hidden;
    }
    p.footnote:hover > .o_account_reports_footnote_icons {
        visibility: visible;
    }
    .o_account_reports_footnote_icons {
        position: absolute;
        margin-left: 3px;
    }
    .o_account_reports_caret_icon {
        position: absolute;
    }
    tr[data-parent-id] {
        border-bottom: 1px solid #eee;
    }
    .o_account_reports_domain_line_0 {
        margin-left: 0px;
    }
    .o_account_reports_domain_line_1 {
        margin-left: 15px;
    }
    .o_account_reports_domain_line_2 {
        margin-left: 30px;
    }
    .o_account_reports_domain_line_3 {
        margin-left: 40px;
    }
    .o_account_reports_domain_line_4 {
        margin-left: 50px;
    }
    .o_account_reports_domain_line_5 {
        margin-left: 60px;
    }
    .o_account_reports_domain_line_6 {
        margin-left: 70px;
    }
    .o_account_reports_domain_line_7 {
        margin-left: 80px;
    }
    .o_account_reports_domain_line_8 {
        margin-left: 90px;
    }
    .o_account_reports_domain_line_9 {
        margin-left: 100px;
    }
    tr.o_account_reports_domain_total {
        font-weight: bold;
    }
    tr.o_account_reports_initial_balance {
        > td > span:last-child {
            margin-left: 30px;
        }
    }
    tr.hierarchy_total {
        font-weight: bold;
    }
    b.o_account_reports_footnote_sup {
        margin-top: 10px;
        color: $o-main-text-color;
    }
    ul.o_account_reports_domain_dropdown {
        margin-left: 70px
    }
    .total {
        font-weight: bold;
    }
    .o_account_reports_level0, .o_account_reports_level1, .o_account_reports_level2, .o_account_reports_domain_total, .total {
        .text-muted {
            color: #666666 !important;
        }
    }
    .o_foldable_total {
        color: #666666 !important;
    }
    .o_account_reports_totals_below_sections.o_js_account_report_parent_row_unfolded {
        .o_account_report_column_value {
            visibility: hidden;
        }
        td.number.o_foldable_total {
            border-bottom: none;
        }
    }
    td.o_foldable_total {
        font-weight: bold;
    }
    .o_account_reports_level0 {
        & td {
            padding-top: 32px;
        }
        > td.o_account_report_line_indent.o_foldable_total > span:last-child {
            margin-left: 10px;
        }
    }
    .o_account_reports_level1 {
        border-width: 2px;
        border-bottom-style: solid;
        font-weight: bold;
    }
    .o_account_reports_level2 {
        border-bottom: 1px solid #bbb;
        font-weight: bold;
        > td.o_account_report_line_indent > span:last-child {
            margin-left: 15px;
        }
        &.total {
            > td > span:last-child {
                margin-left: 0px;
            }
        }
    }
    .o_account_reports_level3 {
        border-bottom: 1px solid #eee;
        > td.o_account_report_line_indent > span:last-child {
            margin-left: 30px;
        }
        &.total {
            > td.o_account_report_line_indent > span:last-child {
                margin-left: 15px;
            }
        }
    }
    .o_account_reports_level4 {
        .o_account_reports_caret_icon {
            margin-left: 15px;
        }
        border-bottom: 1px solid #eee;
        > td.o_account_report_line_indent > span:last-child {
            margin-left: 40px;
        }
        &.total {
            > td.o_account_report_line_indent > span:last-child {
                margin-left: 30px;
            }
        }
    }
    .o_account_reports_level5 {
        border-bottom: 1px solid #eee;
        > td.o_account_report_line_indent > span:last-child {
            margin-left: 50px;
        }
        &.total {
            > td.o_account_report_line_indent > span:last-child {
                margin-left: 40px;
            }
        }
    }
    .o_account_reports_level6 {
        border-bottom: 1px solid #eee;
        > td.o_account_report_line_indent > span:last-child {
            margin-left: 60px;
        }
        &.total {
            > td.o_account_report_line_indent > span:last-child {
                margin-left: 50px;
            }
        }
    }
    .o_account_reports_level7 {
        border-bottom: 1px solid #eee;
        > td.o_account_report_line_indent > span:last-child {
            margin-left: 70px;
        }
        &.total {
            > td.o_account_report_line_indent > span:last-child {
                margin-left: 60px;
            }
        }
    }
    .o_account_reports_level8 {
        border-bottom: 1px solid #eee;
        > td.o_account_report_line_indent > span:last-child {
            margin-left: 80px;
        }
    }
    .o_account_reports_level9 {
        border-bottom: 1px solid #eee;
        > td.o_account_report_line_indent > span:last-child {
            margin-left: 90px;
        }
    }
    .o_account_reports_default_style {
        border-bottom: 1px solid #eee;
        > td.o_account_report_line_indent > span:last-child {
            margin-left: 50px;
        }
        &.o_account_reports_domain_total {
            > td.o_account_report_line_indent > span:last-child {
                margin-left: 30px;
            }
        }
    }
    .o_account_reports_followup_not_clicked {
        .o_account_reports_followup_skip {
            display: inline-block;
        }
        .o_account_reports_followup_done {
            display: none;
        }
    }
    .o_account_reports_followup_clicked {
        .o_account_reports_followup_skip {
            display: none;
        }
        .o_account_reports_followup_done {
            display: inline-block;
        }
    }
    .o_account_reports_history {
        min-width: 300px;
    }
}

.o_form_view {
    .o_account_reports_no_print {
        .o_account_reports_table {
            margin-bottom: 0px;
        }
    }
}

.o_account-progress-bar-content {
    color: black;
    position: absolute;
    width: 100%;
}
.o_account-progress {
    position: relative;
}
.o_account_reports_history [summary="o_followup_letter_display_none"] {
    display: none;
}

.o_account_report_search {
    margin-left: 10px;
    margin-right: 10px;
    .o_account_report_select {
        min-width: 100px;
    }
}

// Filters lines
// -----------------------------------------
.o_account_reports_filter_input_wrapper {
    position: relative;
    float: right;
    width: 150px;
    margin-top: -47px;
    margin-bottom: 20px;
    float: right;
        .searchIcon {
        position: absolute;
        right: 10px;
    }
}
    .o_account_reports_filter_input {
    border: none;
    border-bottom: 1px black solid;
}
    .o_account_reports_filtered_lines {
    display: none;
}

// Summary to be edited
// -----------------------------------------
.o_account_reports_summary {
    display: inline-block;
    position: relative;

    .o_account_report_summary {
        padding: 10px 0;

        &, > span, .o_input, .o_account_reports_edit_summary_pencil {
            transition: all .2s ease 0s;
        }
        > span {
            padding: 10px 0;
            display: block;
            white-space: pre-wrap;
            line-height: 1;
        }
    }

    .o_input {
        border: none;
        padding: 10px;
    }

    .o_account_reports_edit_summary_pencil {
        @include o-position-absolute(20px, $left: 0);
        visibility: hidden;
        opacity: 0;
    }

    &:hover {
        .o_account_reports_edit_summary_pencil {
            visibility: visible;
            opacity: 1;
        }

        .o_account_report_summary .o_input, .o_account_report_summary span {
            padding-right: 0;
        }
    }
}

.o_account_reports_summary_edit {
    padding-bottom: 25px;
    padding-top: 10px;

    textarea {
        border: 1px solid gray('600');
        resize: vertical;
        width: 100%;
    }
}

// Print mode report summary
// -----------------------------------------
p.o_account_reports_contact_info {
    min-height: 30px;
}