//
// This file regroups all the rules which apply to field widgets wherever they
// are in the DOM, in enterprise version.
//

// Required
.o_required_modifier {
    &.o_input, .o_input {
        border-bottom: 2px solid $o-main-text-color;
    }
}

//------------------------------------------------------------------------------
// Fields
//------------------------------------------------------------------------------

.o_field_widget {
    // Dropdowns input carret
    .o_input_dropdown .o_dropdown_button {
        @include o-position-absolute(0, 0);
    }

    // Percent pie field
    &.o_field_percent_pie {
        $pie-dimension: $o-statbutton-height - 2 * $o-statbutton-vpadding;
        $pie-ring-width: 4px;

        .o_pie {
            width: $pie-dimension;
            height: $pie-dimension;

            &:after { // Outside pie border to go over border-radius irregularities
                border: 1px solid $o-brand-secondary;
            }

            .o_pie_value {
                @include o-position-absolute($pie-ring-width, $pie-ring-width);
                width: $pie-dimension - 2 * $pie-ring-width;
                height: $pie-dimension - 2 * $pie-ring-width;
                border: 1px solid $o-brand-secondary;
                background-color: $o-brand-lightsecondary;
            }
        }
    }
}
