
.o_home_menu {
    direction: ltr;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    position: relative;

    .o_home_menu_scrollable {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        flex: 1 0 auto;
        width: 100%;
        max-width: $o-home-menu-container-size;

        .o_apps {
            flex: 0 0 auto;
            width: 100%;
            display: flex;
            flex-flow: row wrap;

            .o_app {
                padding: 10px 0;
                width: percentage(1/3);

                @include media-breakpoint-up(sm) {
                    width: percentage(1/4);
                }

                @include media-breakpoint-up(md) {
                    width: percentage(1/6);
                }

                .o_app_icon {
                    position: relative;
                    width: 80%;
                    max-width: $o-home-menu-app-icon-max-width;
                    overflow: hidden;
                    margin: auto;

                    &:before { // so that the div is a square
                        content: "";
                        display: block;
                        padding-top: 100%;
                    }

                    > i.fa { // studio
                        @include o-position-absolute(25%, 0, auto, 0);
                        font-size: $o-home-menu-app-icon-max-width*0.5;

                        @media screen and (max-width: 260px) { // where icons start to shrink
                            font-size: 30px; // on old browser
                            font-size: 13vw; // ~33px at 260px
                        }
                    }
                }
            }
        }
        .o_menuitems {
            width: 100%;

            flex: 1 0 auto;
            .o_menuitem {
                @include media-breakpoint-down(sm) {
                    padding: 6px;
                }
            }

        }
        .o_no_results {
            flex: 1 0 auto;
        }
    }
    .o_home_menu_footer {
        display: flex;
        flex: 1 0 auto;
        align-items: flex-end;

        img {
            -webkit-filter: drop-shadow(0 1px 0px rgba(0, 0, 0, 0.4));
            filter: drop-shadow(0 1px 0px rgba(0, 0, 0, 0.4));
        }
    }
}
