.o_kanban_view {

    .o_column_quick_create .o_kanban_quick_create {
        input {
            &, &:focus, &:hover {
                background: transparent;
                border-bottom: 1px solid gray('600');
            }
        }
        .input-group-append, .input-group-prepend {
            border-left: 10px solid gray('200');
        }
    }
}
