//------------------------------------------------------------------------------
// Mobile Burger Menu
//------------------------------------------------------------------------------
.o_web_client .o_main_navbar {
    .o_disabled {
        pointer-events: none;
        opacity: 0.4;
    }
}

.o_burger_menu {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: 0px;
    bottom: 0px;
    width: 100%;
    font-size: 15px;
    font-weight: 300;
    z-index: 10;

    .o_burger_menu_topbar {
        flex: 0 0 $o-navbar-height;
        display: flex;
        justify-content: space-between;
        align-content: center;
        background: darken($o-brand-odoo, 10%);
        color: white;
        .dropdown-toggle {
            padding: 10px 16px;
        }
        .o_burger_menu_avatar {
            height: 26px;
        }
        .o_burger_menu_username, .o_burger_menu_caret {
            vertical-align: middle;
            margin-left: 10px;
        }
        .o_burger_menu_close {
            height: 100%;
            padding: 16px;
        }
    }

    .o_burger_menu_content {
        flex: 1 1 auto;
        overflow: auto;
        background: white;
        &.o_burger_menu_dark {
            background-color: $o-brand-odoo;
        }

        .o_burger_menu_app {
            padding-left: 20px;
            ul {
                padding: 0px;
                > li {
                    list-style: none;
                    a {
                        display: block;
                        padding: 10px 15px;
                        color: white;
                        font-weight: inherit;
                        .toggle_icon {
                            margin-top: 4px;
                        }
                    }
                    > ul {
                        display: none;
                    }
                    &.show {
                        > ul {
                            display: block;
                        }
                    }
                }
                @for $index from 1 through 5 {
                    .o_menu_entry_lvl_#{$index} {
                        padding-left: ($index - 1) * 16px;
                    }
                }
            }
        }

        .o_burger_menu_user {
            color: $o-main-text-color;
            .o_burger_menu_companies {
                padding: 16px;
                border-bottom: 1px solid $o-main-color-muted;
                .o_burger_menu_user_title {
                    font-size: 12px;
                    margin-bottom: 5px;
                    font-weight: bold;
                }
                .o_burger_menu_company {
                    padding: 10px 0;
                    &.active {
                        font-weight: bold;
                    }
                    .o_burger_menu_company_icon {
                        margin-right: 10px;
                    }
                }
            }
            .o_user_menu_mobile {
                padding: 16px;
                list-style: none;
                > li {
                    &.divider { // FIXME ?
                        background-color: $o-main-color-muted;
                        height: 1px;
                        margin: 10px -16px;
                    }
                    > a {
                        display: block;
                        padding: 10px 0;
                        color: $o-main-text-color;
                    }
                }
            }
        }
    }

}
