.o_menu_search {
    flex: 0 0 auto;
    width: 100%;
    max-width: $o-home-menu-container-size;
    height: $o-navbar-height;
    background-color: rgba(white, .1);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.1), 0 1px 0 rgba(black, .1) ;
    @include media-breakpoint-up(lg) {
        margin-top: 25px;
    }
    margin-bottom: 8px;
    align-items: center;
    border-radius: 4px;
    text-shadow: 0 1px 0 rgba(black, .5);
    padding: 10px 15px;

    &.o_bar_hidden {
        opacity: 0;
    }

    .o_menu_search_icon {
        flex: 0 0 auto;
        font-size: 20px;
        color: white;
        margin-right: 15px;
    }

    .o_menu_search_input {
        flex: 1 1 auto;
        border: none;
        background-color: rgba(0, 0, 0, 0);
        color: white;
        text-shadow: inherit;
        &:focus {
            outline: none;
        }
        @mixin o-placeholder { // Rules below need to be separeted. Otherwise all browsers will discard the whole rule.
            color: white;
            opacity: 0.5;
        }
        &::-webkit-input-placeholder { // WebKit, Blink, Edge
            @include o-placeholder;
        }
        &::-moz-placeholder { // Mozilla Firefox 19+
            @include o-placeholder;
        }
        &:-ms-input-placeholder { // Internet Explorer 10-11
            @include o-placeholder;
        }
    }
}
