///
/// This file regroups the variables that style odoo components.
/// They are available in every asset bundle.
///

// Font sizes
$o-font-size-base-touch: 15px;

// Colors
$o-brand-odoo: $o-enterprise-color;
$o-brand-primary: $o-enterprise-primary-color;
$o-brand-secondary: #8f8f8f;
$o-brand-lightsecondary: $o-gray-100;

$o-main-text-color: #666666;

$o-list-footer-bg-color: white;

$o-btn-secondary-bg: white;
$o-btn-secondary-hover-bg: darken($o-btn-secondary-bg, 10%);
$o-btn-secondary-active-bg: darken($o-btn-secondary-bg, 8%);

// Layout
$o-statbutton-height: 44px;
$o-statbutton-vpadding: 0px;
$o-statbutton-spacing: 6px;

// Home menu
$o-home-menu-container-size: 850px;
$o-home-menu-app-icon-max-width: 70px;
$o-home-studio-menu-shadow: 0 1px 0 rgba(black, 0.45);
