// ------------------------------------------------------------------
// Base layout rules, use the 'webclient.scss' file for styling
// ------------------------------------------------------------------
html {
    height: 100%;

    .o_web_client {
        height: 100%;
        display: flex;
        flex-flow: column nowrap;

        &.o_fullscreen {
            .o_main_navbar {
                display: none;
            }
        }

        .o_main_navbar {
            flex: 0 0 auto;
        }

        .o_control_panel {
            flex: 0 0 auto;
        }

        .o_content {
            direction: ltr; //Define direction attribute here so when rtlcss preprocessor run, it converts it to rtl
            flex: 1 1 auto;
            @include media-breakpoint-up(md) {
                overflow: auto;
                height: 100%;
                // iOS fix for scroll-x element inside scroll-y element
                -webkit-overflow-scrolling: touch;
            }
            position: relative;  // Allow to redistribute the 100% height to its child
            @include media-breakpoint-down(sm) {
                overflow: visible;
                height: auto;
            }

            > .o_view_controller {
                position: absolute;  // Get the 100% height of its flex parent
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 100%;
                direction: ltr;
                &.o_field_widget {
                    @include media-breakpoint-down(sm) {
                        position: static;  // reset the height 100% distribution on flex item
                        height: auto;  // reset height inheritance
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .o_web_client {
            &.modal-open {
                .o_content {
                    overflow: hidden;
                }
            }
        }
    }

    .o_loading {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: $zindex-modal + 1;
    }
}

@media print {
    html .o_web_client {
        .o_main_navbar {
            display: none;
        }
        .o_content {
            position: static;
            overflow: visible;
            height: auto;
        }
    }
}
