.ckus_top_page {
    .ckus_check {
        top: -0.02in;
    }
    .ckus_stub_1 {
        top: 3.45in;
    }
    .ckus_stub_2 {
        top: 7in;
    }

    .ckus_check .sequence_number {
        top: 0.1in;
        left: 7.1in;
        width: 0.7in;
    }
    .ckus_date {
        top: 0.55in;
        left: 6.51in;
        width: 1.47in;
        text-align: center;
    }
    .ckus_payee_name {
        top: 1.09in;
        left: 0.85in;
        width: 4.0in;
        text-align: left;
    }
    .ckus_amount {
        top: 1.07in;
        left: 6.77in;
        width: 1.08in;
        text-align: left;
    }
    .ckus_amount_in_word {
        top: 1.45in;
        left: 0.25in;
        width: 7in;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
    }
    .ckus_payee_addr {
        top: 1.65in;
        left: 0.85in;
    }
    .ckus_memo {
        top: 2.41in;
        left: 0.6in;
        width: 2.9in;
        text-align: left;
        font-size: 0.9em;
        overflow: hidden;
    }
}
