/*
 *  WARNING : wkhtml2pdf will interpret measurement units according to the total
 *  width of the document. That means that if an element overflows from the page
 *  (eg. left: 7.5in; width: 2in;) all the dimensions will be scaled down.
*/

.ckus_page {
    position: relative;
    font-size: 10pt;
    width: 8in!important;
    zoom: 1.25;
    margin-left: -15px;
    margin-right: -15px;

    &:after {
        display: block;
        content: ".";
        width: 8.25in;
        visibility: hidden;
    }

    .ckus_check, .ckus_stub_1, .ckus_stub_2 {
        position: absolute;
        height: 3.25in;
    }

    .ckus_check > * {
        position: absolute;
        white-space: nowrap;
    }

    .sequence_number {
        text-align: right;
        font-size: 1.3em;
    }

    .ckus_stub {
        width: 8in;
    }

    .ckus_stub .sequence_number {
        height: 0.3in;
        margin-bottom: 0.1in;
    }

    .ckus_stub .summary_line {
        width: 100%;
        margin-bottom: 0.1in;
    }

    .ckus_stub .summary_line span {
        padding: 0 0.1in;
    }

    .ckus_stub .stub_lines td {
        padding: 0.01in 0.05in;
    }

    .ckus_stub .stub_total_amount {
        position: absolute;
        bottom: 0.38in;
        right: 0.1in;
        text-align: right;
        font-weight: bold;
    }
}

.o-watermark {
    width: 300px;
    top: 0.3in;
    font-size: 80pt;
    left: 250px;
    position: absolute;
    color: lightgray;
    z-index: -1;
    transform: rotate(-27deg);
}
