.o_form_view {
    .o_form_sheet_bg.o_project_timesheet_app_bg {
        background-color: white;
    }

    .o_project_timesheet_app {

        background-image: url(../img/smartphone.png);
        background-repeat: no-repeat;
        height: 700px;
        position: relative;
        background-position: top center;
        iframe {
            margin-top: 53px;
            width: 330px;
            height: 582px;
        }
    }

    .o_project_timesheet_app_links {

        display: flex;
        align-items: center;

        @include media-breakpoint-up(lg) {
            height: 700px;
        }

        .flex-container {
            width:100%;
        }
        h2{
            margin-bottom: 2px;
        }
    }

    .o_project_timesheet_app_bg{
        .o_form_sheet{
            padding:0px;
            border: none;
        }

    }
}
