.ckca_middle_page {
    .ckca_stub_1 {
        top: 0in;
    }
    .ckca_check {
        top: 3.45in;
    }
    .ckca_stub_2 {
        top: 7.0in;
    }

    .ckca_check .sequence_number {
        top: 0in;
        left: 7.19in;
        width: 0.76in;
        text-align: center;
    }
    .ckca_date_label {
        top: 0.55in;
        left: 6in;
        width: .75in;
        text-align: center;
    }
    .ckca_date {
        top: 0.55in;
        left: 6.37in;
        width: 1.47in;
        text-align: center;
    }
    .ckca_date_format {
        top: 0.7in;
        left: 6.37in;
        width: 1.47in;
        text-align: center;
        font-size: 0.8em;
    }
    .ckca_amount {
        top: 1in;
        left: 6.8in;
        width: 1.07in;
        text-align: left;
    }
    .ckca_amount_in_word {
        top: 1in;
        left: 0.25in;
        width: 6in;
        text-align: left;
        font-weight: bold;
        overflow: hidden;
    }
    .ckca_payee_name {
        top: 1.3in;
        left: 0.5in;
        width: 3.5in;
        text-align: left;
    }
    .ckca_payee_address {
        top: 1.5in;
        left: 0.5in;
        width: 4.0in;
        text-align: left;
        font-size: 0.9em;
    }
    .ckca_memo {
        top: 2in;
        left: 0.63in;
        width: 4.3in;
        text-align: left;
        font-size: 0.9em;
        overflow: hidden;
    }
}
