
.pos .order .summary .loyalty-points{
    margin-left: 20px;
    float: left;
    padding: 10px;
    max-width: 216px;
    text-align: left;
    color: #6EC89B;
    background: rgba(110, 200, 155, 0.17);
    border-radius: 3px;
}
.pos .order .summary .loyalty-points.negative{
    color: #C86E6E;
    background: rgba(200, 110, 110, 0.17);
}
.pos .order .summary .loyalty-points-total {
    border-top: solid 2px;
    text-align: center;
    padding-top: 4px;
    margin-top: 4px;
}

.loyalty .subtitle{
    text-align: center;
}

.loyalty .title {
    font-size: 20px;
    text-align: center;
}